<div class="row">
    <div class="col-sm-8">
        <%= render partial: "posts/list", locals: { posts: @posts} %>
    </div>
    <div class="col-sm-4">
        <%= @profile.username %>
    </div>
</div>